.impression {
    position: relative;

    .container {
        padding: 3em 0;
    }

    .group {
        align-items: center;
    }

    .text {
        flex: 1;
        padding: 1em;

        h1 {
            max-width: 500px;
            margin: 0.5em 0;

            b {
                position: relative;
                font-weight: 600;
                box-shadow: inset 0 -0.4em 0 0 rgba($color-1, 0.15);
            }
        }

        .description {
            max-width: 500px;
            opacity: 0.8;
        }

        .usa {
            display: inline-flex;
            align-items: center;
            background: rgba($color-1, 0.05);
            padding: 0.75em;
            border-radius: 0.375em;
            width: 100%;
            max-width: 500px;
            margin: 1em 0 0;

            .flag {
                max-width: 45px;
                width: 100%;
                margin-right: 0.75em;
            }
            p {
                margin-bottom: 0;
                opacity: 0.8;
            }
        }

        .buttons {
            margin-top: 3em;
        }
    }

    .images {
        position: relative;
        flex: 1;
        order: 1;
        padding: 1em;

        .flickity-viewport {
            width: 100%;
            margin: 1em 0;
        }

        .flickity-page-dots {
            bottom: 0;
            max-width: calc(100% - 1em);

            .dot:only-child {
                display: none;
            }
        }

        .images-item {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            //box-shadow: rgba(27, 31, 35, 0.07) 0px 10px 50px 0px;
            border-radius: 0.125em;
        }
    }
}
