.projects {
    &-widget {
        background: $color-2;
        color: #fff;
        padding: 10vh 0;
        margin-bottom: 0;

        .container {
        }

        .section-heading {
            margin-bottom: 1em;
        }

        .group {
            margin: 0 -1.5em;
        }

        .projects-item {
            width: calc(33.333% - 3em);
            margin: 1.5em;

            a {
                display: block;
                text-decoration: none;
                color: inherit;
                transition: $transition-1;

                &:hover,
                &:focus {
                    img {
                        transform: scale(1.08);
                    }
                }
            }

            .image {
                overflow: hidden;

                img {
                    border-radius: 0.125em;
                    transition: $transition-1;
                }
            }

            .details {
                padding: 0.5em 0;
                text-align: center;

                .description {
                    display: none;
                }
            }
        }
    }
}
