//Colors
$color-0: #000000;
$color-1: #01669d;
$color-2: #222222;
$color-3: hsla(201, 99, 31, 20%);

$color-grey-1: #f6f9fc;
$color-grey-2: #f8f8f8;
$color-grey-3: #424242;

//Fonts
$font-0: 'Montserrat', sans-serif;
$font-1: 'Montserrat', sans-serif;

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
$box-shadow-2: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
$box-shadow-3: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);

//Transitions
$transition-1: 250ms ease;

//Sizing
$container-width: 1400px; //Sizing of the section .container as well as .column containers
